#General
*.class

# Eclipse
.classpath
.project
.settings/

# IntelliJ
.idea/
*.iml
*.iws

# Build
*ant-targets-build.xml
*out
build
TestHarness/dist
TestHarness/aion
TestHarness/reports
TestHarness/logs
Tests/aion
Tests/config
Tests/logs
Tests/lib/kernel.tar.bz2
.gradle/
report/
